<div>
    <form method="post" asp-controller="Account" asp-action="Login">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</div>
<div>
    <a asp-controller="Account" asp-action="Register">Register</a>
</div>