<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ChatApp</title>

        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <partial name="_Navbar" />
        <div class="main">
           <partial name="_SideMenu" />
           
            <div class ="chat" >
                @RenderBody()
            </div> 
        </div>
        <div class="modal" id="create-room-modal">
            <form asp-controller="" asp-action="" class="modal-body">
                <button type="button" class="btn-close" onclick="closeModal()">X</button>
                <header>Create Room</header>
                <div>
                    <input name="name">
                </div>
                <footer><button class="btn-create">Create</button></footer>
            </form>
        </div>
        <script src="~/js/site.js"></script>
        @RenderSectionAsync("Scripts",false)
    </body>  
</html>