<div class="navbar">
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Home" asp-action="Find">Find Some?</a>
    <a asp-controller="Home" asp-action="GetPrivateChats">Your Private Group</a>
    <a asp-controller="Home" asp-action="GetPublicChats">Public Groups</a>
</div>

    

