<div class="chat-body">
    <div class="message">
        <header>Name</header>
        <p>This is the test message.</p>
        <footer>Date</footer>
    </div>
    @for (int i = 0; i <= 15 ; i++)
    {
        <div class="message">
        <header>Name</header>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sequi officia nemo laborum dicta, quasi distinctio provident facere repudiandae. Atque quibusdam laborum eius mollitia. Nulla ad tempore quam itaque perferendis.</p>
        <footer>Date</footer>
        </div>
    }
    
</div>
<div class="chat-input">
    <input type="text">ChatApp</input>
    <button>Send</button>
</div>